---
import CMD from '@/icons/CMD.astro';
---

<footer
  class="hidden md:block text-center bg-slate-50 py-2 border-t-slate-100 border-t border-solid fixed bottom-0 w-full text-sm dark:bg-slate-900"
>
  Press <kbd class="bg-slate-200 rounded-md py-1 px-2 dark:bg-slate-800"
    >Cmd</kbd
  > + <kbd class="bg-slate-200 rounded-md py-1 px-2 dark:bg-slate-800">K</kbd> to
  open the command menu.
</footer>
<footer
  class="md:hidden fixed bottom-1 right-1 border-solid border-slate-300 bg-[#eee] border rounded-full"
>
  <button id="cmd-btn" class="p-1"><CMD /></button>
</footer>
<script>
  const button = document.getElementById('cmd-btn');
  button?.addEventListener('click', () => {
    const ninja = document.querySelector('ninja-keys');
    ninja?.open();
  });
</script>
