---
import CMD from '@/icons/CMD.astro';
---

<footer
  class="hidden print:hidden md:block text-center bg-slate-50 py-2 border-t-slate-100 border-t border-solid fixed bottom-0 w-full text-sm dark:bg-slate-900"
>
  Press <kbd class="bg-slate-200 rounded-md py-1 px-2 dark:bg-slate-800"
    >Cmd</kbd
  > + <kbd class="bg-slate-200 rounded-md py-1 px-2 dark:bg-slate-800">K</kbd> to
  open the command menu.
</footer>
<footer
  class="md:hidden print:hidden fixed bottom-2 right-2 border-solid border-slate-300 bg-[#eee] dark:bg-slate-900 border rounded-xl"
>
  <button id="cmd-btn" class="p-1"><CMD /></button>
</footer>
<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  footer {
    view-timeline: --revealing;
    view-timeline-axis: block;
    animation: linear 0.3s fadeIn;
    animation-timeline: --revealing;
    animation-range: entry 100% cover 10%;
  }
</style>
<script>
  const button = document.getElementById('cmd-btn');
  button?.addEventListener('click', () => {
    const ninja = document.querySelector('ninja-keys');
    ninja?.open();
  });
</script>
